In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

In [5]:
df = pd.read_csv("haberman.csv", names=["age", "operation_year", "axillary_lymph_node", "survival_status"])
df

     age  operation_year  axillary_lymph_node  survival_status
0     30              64                    1                1
1     30              62                    3                1
2     30              65                    0                1
3     31              59                    2                1
4     31              65                    4                1
..   ...             ...                  ...              ...
301   75              62                    1                1
302   76              67                    0                1
303   77              65                    3                1
304   78              65                    1                2
305   83              58                    2                2

[306 rows x 4 columns]

# Survival Status
1 - the patient survived 5 years or longer
2 - The patient died within 5 years

In [7]:
df.shape

(306, 4)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  306 non-null    int64
 1   operation_year       306 non-null    int64
 2   axillary_lymph_node  306 non-null    int64
 3   survival_status      306 non-null    int64
dtypes: int64(4)
memory usage: 9.7 KB

In [11]:
df.describe()

              age  operation_year  axillary_lymph_node  survival_status
count  306.000000      306.000000           306.000000       306.000000
mean    52.457516       62.852941             4.026144         1.264706
std     10.803452        3.249405             7.189654         0.441899
min     30.000000       58.000000             0.000000         1.000000
25%     44.000000       60.000000             0.000000         1.000000
50%     52.000000       63.000000             1.000000         1.000000
75%     60.750000       65.750000             4.000000         2.000000
max     83.000000       69.000000            52.000000         2.000000

In [12]:
df["survival_status"] = df["survival_status"].map({1:"Yes", 2:"No"})
df.head()

   age  operation_year  axillary_lymph_node survival_status
0   30              64                    1             Yes
1   30              62                    3             Yes
2   30              65                    0             Yes
3   31              59                    2             Yes
4   31              65                    4             Yes

In [14]:
df["survival_status"].value_counts()

Yes    225
No      81
Name: survival_status, dtype: int64

In [16]:
status_yes = df[df["survival_status"] == "Yes"]
status_yes.describe()

              age  operation_year  axillary_lymph_node
count  225.000000      225.000000           225.000000
mean    52.017778       62.862222             2.791111
std     11.012154        3.222915             5.870318
min     30.000000       58.000000             0.000000
25%     43.000000       60.000000             0.000000
50%     52.000000       63.000000             0.000000
75%     60.000000       66.000000             3.000000
max     77.000000       69.000000            46.000000

In [ ]:
# univariant analysis